# Can also ignore all directories and files in a directory.
build/
doc/

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
ui_*.h
*.rc
Makefile
*.Debug
*.Release
*-build-*
*.autosave
*~
*.backup
*.qmake.stash
*.DS_Store
target_wrapper.sh
uic_wrapper.sh
